.header {
  margin-top: -100px;
  background-image: url('../../assets/home-background.png');
  height: 80vh;
  padding: 100px 5% 0 5%;
  display: flex;
  gap: 5%;

  .header__content {
    color: $primary;
    width: 100%;

    & > h1 {
      font-size: 40px;
      font-weight: bold;
      font-weight: 800;
      padding-bottom: 3%;
    }

    & > p {
      width: 85%;
      line-height: 25px;
    }
  }

  .header__form {
    display: flex;
    flex-direction: column;
    background-color: $primary;
    height: fit-content;
    padding: 2%;
    width: 60%;
    position: relative;
    border-radius: 10px;
    gap: 10px;

    .header__form__btn {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      bottom: -7%;
    }

    .header__form__input {
      outline: none;
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      padding: 15px 20px;

      &:hover {
        border: 1px solid gray;
      }
    }

    .icon-location {
      padding-left: 10%;
      background: url('../../assets/form-input-icon1.svg') no-repeat left;
      background-size: 15px;
      background-position-x: 4%;
    }

    .icon-date {
      padding-left: 10%;
      background: url('../../assets/form-input-icon2.svg') no-repeat left;
      background-size: 15px;
      background-position-x: 4%;
    }
  }
}

.over-boxes {
  display: flex;
  justify-content: center;
  gap: 1.5%;
  margin-top: -60px;

  .over-boxes__item {
    display: flex;
    flex-direction: column;
    padding: 1% 1.3%;
    text-align: center;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: $primary;
    width: 14%;

    .over-boxes__item__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 45%;
    }

    h3 {
      color: $btn-color;
      padding-top: 5px;
    }

    span {
      font-size: 14px;
    }
  }
}

main {
  margin: 4% 4.5%;
  padding: 3% 5%;
  background-color: $secondary;
  border-radius: 30px;

  .main__description {
    line-height: 40px;
  }

  .main__boxs {
    display: flex;
    justify-content: space-between;
    gap: 3%;
    padding-top: 5%;

    .main__boxs__item {
      text-align: center;
      padding: 3%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      border-radius: 15px;

      h3 {
        padding: 20% 0 5% 0;
      }

      p {
        text-align: start;
        line-height: 25px;
        color: $p-color;
      }
    }
  }

  .main-btn {
    display: flex;
    justify-content: center;
    padding-top: 5%;

    button {
      padding: 15px 60px;
    }
  }
}

.partner {
  margin: 4% 4.5%;

  .partner__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .partner__sections {
    display: flex;
    gap: 10%;

    .partner__sections__one {
      padding-top: 6%;

      h4 {
        line-height: 30px;
        padding-bottom: 20px;
      }

      p {
        color: $p-color;
        width: 80%;
        line-height: 25px;
      }
    }

    .partner__sections__two {
      background-image: url('../assets/partner-bg.png');
      background-position-x: right;
      background-repeat: no-repeat;
    }
  }
  .partner__logos {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}
